.container{
	width:85%;
	margin: auto;
	text-align: center;
}
/* =====================FLEX===================== */
.flex-container{
    display: flex;
}
.flex-item{
    margin: 4rem 1rem;
}
.col-20{
    flex-basis: 20%; 
}
.col-fluid{
    flex-grow: 1;
}

/* =====================HEADER===================== */
.hide{
    width:100%;
    background: linear-gradient(to right, #74ebd5, #acb6e5);
    padding: .5rem 0;
    text-align: center;
}
header{
    text-align: center;
    background: var(--bg-l);
    box-shadow: 0 5px 5px 0 var(--shadow);
    margin-bottom: 5rem;
    position:sticky;
    top:0; 
}

header h1{
    color:var(--cyan); 
    padding: 1rem ; 
    font-weight: 100;
}
/* =====================ITEM-1===================== */
#item-1 .card{
    width: 150px;
    background: var(--bg-l);
    box-shadow: 0 0px 10px 5px var(--shadow);
    margin: 3rem auto;
    padding: 1.5rem; 
    border-radius: 10px;
}
#item-1 img{
    width: 100px;
}
#item-1 h4{
    padding-top: 1rem; 
}
/* =====================ITEM-2===================== */
#item-2{
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
#item-2 img{
    display:block;
    width: 80%; 
}
#item-2 button{
    display: block;
    border:none;
    padding: 1em 3em;
	font-family: 'Poppins', sans-serif;
    border-radius: 50px;
    box-shadow: 0 0 10px 1px #dbdbdb;
    background: linear-gradient(to bottom right, #74ebd5, #acb6e5);
}
/* =====================ITEM-3===================== */
#item-3 div, #item-5 div{
    width: 100%;
    background: var(--bg-l);
    padding: 1rem 3rem;
    margin: 2rem; 
    border-right: 4px solid var(--cyan);
    text-align: right;

}
/* =====================ITEM-4===================== */
#item-4 div{
    background: var(--bg-l);
    box-shadow: 0 0px 10px 5px var(--shadow);
    padding: 1.5rem; 
    border-radius: 10px;
    text-align: left;
}
#item-4 h2{
    color:var(--cyan); 
    padding: 1rem ; 
    font-weight: 100;
}
#item-4 p{
    font-weight: 200;
    font-family: serif;
}
/* =====================ITEM-5===================== */
#item-5 div{
    display: flex;
    justify-content: flex-end;
}
#item-5 img{
    height:3rem;
    margin-left:1rem;
}





@media only screen and (max-width:700px){
    section{
        flex-direction: column;
    }
    .flex-item{
        flex-grow: 1;
    }
}


