#translate-x{
    transform: translateX(50px);
}

#translate-y{
    transform: translateY(20px);
}

#translate{
    transform: translate(50px,20px);
}

#rotate{
    transform: rotate(45deg);

}

#rotate-reverse{
    transform: rotate(-45deg);

}

#scale-x{
    transform: scaleX(1.5);
}

#scale-x-flip{
    transform: scaleX(-1);
}
#scale-y{
    transform: scaleY(.5);
}

#scale-y-flip{
    transform: scaleY(-1);
}

#scale{
    transform: scale(1.5,0.5);
}

#skew-x{
    transform: skewX(20deg)
}

#skew-y{
    transform: skewY(20deg)
}

#skew{
    transform: skew(20deg , 20deg)
}