<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link
        href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,600;0,800;1,400&family=Poppins:wght@400;500;600;900&display=swap"
        rel="stylesheet">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="./style/style.css" rel="stylesheet" type="text/css" />
    <title>Document</title>
</head>

<body>
    <div class="container">
        <h1 class="title">FlexBox</h1>
        <section>
            <h2>When to use flexbox</h2>
            <ul>
                <li>Flex box is used when building a layouts in one dimension (either colums and rows).</li>
                <li>Small-scale layouts.</li>
            </ul>
            <h2>Why flexbox? </h2>
            <ul>
                <li>Building layouts with more <span class="highlight">FLEX</span>ibility and stability than floats, inline-blocks and absolute
                    positioning.</li>
                <li>Easily..
                    <ul>
                        <li>Setting equal or varying width/height of elements</li>
                        <li>Managing space between/around elements.</li>
                    </ul>
                </li>
                <li>Building responsive webpages, by easily changing the direction and/or order of elements.</li>
            </ul>
        </section>
    </div>

    </section>



    <script src="./app.js"></script>
</body>

</html>