.container{
    width: 900px;
    height: 70vh;
    border: 1px solid black; 
    margin: 5vh auto auto auto; 
    display: flex;
}

/* ========== MOCKUP ==========  */

#mockup{
    
    background: url(../img/bg.png);
    /* set div dimensions  */
    flex-basis:454px;
    height: 618px; 
    /* assign div dimensions to the bg  */
    background-size: 454px 618px;
}


/* ========== FORM ==========  */

#login{
    border: 1px solid #dbdbdb; 
    background: white;
    border-radius: 1px;
    padding: 0 4rem;
    margin-top: 2rem;
}

#form  img#logo{
    width: 175px;
    display: block;
    margin: 3rem auto;
}
#form input{
    display: block;
    width:250px;
    background: var(--bg);
    border:1px solid #dbdbdb;
    padding: 1rem;
    border-radius: 3px;
    margin-top: 5px;
}
#form input::placeholder{
    color: #909090; 
}

#form input[type='submit']{
    background: var(--blue);
    padding: .5rem 1rem;
    border-radius: 5px;
    color:white;
    font-weight: bold;
    border:none;
    margin: 2.5rem auto;
    
}

/* FACEBOOK  */
#fb{
    display:flex;
    margin:auto;
    width:fit-content;
}
#fb img{
    width: 20px;
    margin-right: 5px;
}

/* FORGOT PASS */
#login h6{
    font-weight: lighter;
}

/* DIVISION  */
.hr{
    display: flex;
    align-items: center;
}
.hr .line{
    flex:1;
    border: 1px solid #dbdbdb;
    height: 0px;
}
.hr h4{
    color:#9c9c9c;
    padding: 0 1rem;
}

/* SIGNUP  */
#signup{
    border: 1px solid #dbdbdb; 
    background: white;
    border-radius: 1px;
    padding: 3rem 4rem;
    margin-top: 1rem;

}