.container{
    width: 900px;
    height: 70vh;
    margin: 5vh auto auto auto; 
    display: flex;
}

/* ========== MOCKUP ==========  */

#mockup{
    
    background: url(../img/bg.png);
    /* set div dimensions  */
    flex-basis:454px;
    height: 618px; 
    /* assign div dimensions to the bg  */
    background-size: 454px 618px;
    position: relative;
}

#mockup img{
    width:240px;
    height:427px;
    position: absolute;
    top:100px; right:63px;
    opacity: 0;
    animation: fade-in-out 15s ease var(--delay) infinite forwards;
}


/* ========== FORM ==========  */

#login{
    border: 1px solid #dbdbdb; 
    background: white;
    border-radius: 1px;
    padding: 0 4rem;
    margin-top: 2rem;
}

#form  img#logo{
    width: 175px;
    display: block;
    margin: 3rem auto;
}
#form input{
    display: block;
    width:250px;
    background: var(--bg);
    border:1px solid #dbdbdb;
    padding: 1rem;
    border-radius: 3px;
    margin-top: 5px;
}
#form input::placeholder{
    color: #909090; 
}

#form input[type='submit']{
    background: var(--blue);
    padding: .75rem 1rem;
    border-radius: 5px;
    color:white;
    font-weight: bold;
    border:none;
    margin: 2.5rem auto;
    
}

/* FACEBOOK  */
#fb{
    display:flex;
    margin: 3rem auto 2rem auto;
    width:fit-content;
}
#fb img{
    width: 20px;
    margin-right: 5px;
}

/* FORGOT PASS */
#login h6{
    width:fit-content;
    font-weight: 500;
    margin: auto;
    margin-bottom: 2rem;
}
#login h6 a {color:black;}

/* DIVISION  */
.hr{
    display: flex;
    align-items: center;
}
.hr .line{
    flex:1;
    border: 1px solid #dbdbdb;
    height: 0px;
}
.hr h4{
    font-size: 1.4rem;
    color:#9c9c9c;
    padding: 0 1rem;
}

/* SIGNUP  */
#signup{
    border: 1px solid #dbdbdb; 
    background: white;
    border-radius: 1px;
    padding: 3rem 4rem;
    margin-top: 1rem;

}
#signup h5{
    width: fit-content;
    margin:auto;
    font-weight: 400;
}
#signup a{
    color:var(--blue);
    font-weight: 600;
}

/* ========== KEYFRAME ==========  */

@keyframes fade-in-out{
    0%{opacity: 0;}
    5%{opacity: 1;}
    50%{opacity: 1;}
    75%{opacity: 0;}
    100%{opacity: 0;}

}