.container{
    width: 900px;
    height: 70vh;
    border: 1px solid black; 
    margin: 5vh auto auto auto; 
    display: flex;
}

#mockup{
    
    background: url(../img/bg.png);
    /* set div dimensions  */
    flex-basis:454px;
    height: 618px; 
    /* assign div dimensions to the bg  */
    background-size: 454px 618px;
}

#form{
    border: 1px solid #dbdbdb; 
    background: white;
    border-radius: 1px;
    padding: 3rem 4rem;
}

#form img{
    width: 175px;
}
#form input{
    display: block;
    width:250px;
}

/* DIVISION  */
.hr{
    display: flex;
    align-items: center;
}
.hr .line{
    flex:1;
    border: 1px solid #dbdbdb;
    height: 0px;
}
.hr h4{
    color:#9c9c9c;
    padding: 0 1rem;
}