@import "./index.css" ;

/* COLORS */
:root{
	--bg: #fafafa; 
	--blue: #0096F6; 

}
/* NORMALIZE */
*,*::before,*::after{
	padding:0;
	margin:0;
	box-sizing: border-box;
	text-decoration:none; /* remove underline from <a> */
}

html{
	font-size:62.5%  /* 1rem  = 10px */
}

body{
	font-family:'Lato', sans-serif;
	background: var(--bg); 
	font-size: 1.5rem;
}

/* TYPOGRAPHY  */
h1{font-size: 2.8rem;}
h5{font-size: 1.5rem;}




