@import "./index.css" ;

/* COLORS */
:root{
    --bg: #F5F5F5; 
    --box: #dbdbdb; 
    --text: #505050; 
}
/* RESETTING */
*,*::before,*::after{
	box-sizing: content-box;
	list-style-position: inside;	
}

html{
	font-size:62.5%  /* 1rem  = 10px */
}

body{
	font-family: 'Montserrat', sans-serif;
	background: var(--bg); 
	font-size: 2.5rem;
	color: var(--text); 
}


.container{
	width: 70%;
	margin: 2em auto;
}

section{
	padding: 2rem 2rem 2rem 10rem;
	margin: 2rem auto;
	background-color: #fff;
	background-image:
	linear-gradient(90deg, transparent 79px, #abced4 79px, #abced4 81px, transparent 81px),
	linear-gradient(#eee .1em, transparent .1em);
	background-size: 100% 1.2em;
	border-radius: 10px;
	box-shadow: 0 0 5px 5px #f0f0f0;
	text-align: left;
	transition: all .3s ease-in;

}
section:hover{
	box-shadow: 0 0 10px 5px #e8e8e8;
}
code{
	font-size: 3rem;
}
h1, h2, h3{
	letter-spacing: -3px;
	font-weight: normal;
}

.title{
	padding:.5rem 1rem;
	border-bottom: 2px solid #abced4;
	width: fit-content; 
	margin:auto;
	font-weight:  500;	
	text-transform: uppercase;
}
h2{
	/* border-bottom: 2px solid #abced4; */
	color:#abced4;
	font-weight: 500;
	width: fit-content;
	
}
b{
	font-weight: 600;
}
#entities{
	display: grid;
	grid-template-columns: auto auto;
	width:50%;
	margin:auto; 
	align-items: center;
}

#job{
	border: 1px solid #eee;
	background: #Fdfdfd; 
	padding: 1em; 
	border-radius: 10px;
}



