<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link
        href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,600;0,800;1,400&family=Poppins:wght@400;500;600;900&display=swap"
        rel="stylesheet">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="./style/style.css" rel="stylesheet" type="text/css" />
    <title>Document</title>
</head>

<body>
    <div class="container">
        <h1 class="title">FlexBox</h1>
        <section>
            <h2>When to Use Flexbox</h2>
            <ul>
                <li>Flexbox is used when building layouts in one dimension (either columns and rows).</li>
                <li>Small-scale layouts (row of cards, column of menu items in a sidebar).</li>
            </ul>
            <h2>Why Flexbox? </h2>
            <ul>
                <li>Building layouts with more <span class="highlight">FLEX</span>ibility and stability than floats,
                    inline-blocks and absolute
                    positioning.</li>
                <li>Easily..
                    <ul>
                        <li>Setting equal or varying width/height of elements</li>
                        <li>Managing space between/around elements.</li>
                    </ul>
                </li>
                <li>Building responsive webpages, by easily changing the direction and/or order of elements.</li>
            </ul>
            <h2>Flexbox Properties</h2>
            <p>There are separate properties for:</p>
            <ul>
                <li>The flex container (parent element).</li>
                <li>The flex items (children elements).</li>
            </ul>
        </section>
        <h1 class="title">Flex Container</h1>
        <section>
            <h2>Define the flex container</h2>
            <p><code>display: flex;</code></p>
        </section>
        <section>
            <h2>Direction and Wrap</h2>
            <ul>
                <li>Default direction is <span class="highlight">ROW</span>.</li>
                <li><span class="highlight">WRAP</span>: allow flex items that don't fit, to wrap to the next line
                    instead of trying to fit in one line. </li>
            </ul>

            <ul>
                <li><code>flex-direction: row | column | row-reverse | column-reverse;</code></li>
                <li><code>flex-wrap: nowrap | wrap | wrap-reverse;</code></li>
            </ul>
            <br>
            <h3 class="title left">Shorthand :</h3>
            <ul>
                <li><code>flex-flow: flex-direction flex-wrap;</code></li>
            </ul>
        </section>

        <section>
            <h2>Items Alignment</h2>
            <ul>
                <li><code>justify-content: flex-start | flex-end | center | <br> space-between | space-around | space-evenly;</code>
                </li>
                <br>
                <ul>
                    <li>Defines items alignment along the set direction</li>
                    <li>sets the <span class="highlight">horizontal</span> alignment when direction is <code
                            class="highlight">row</code>.</li>

                </ul>
            </ul>
            <br>
            <ul>
                <li><code>align-items: flex-start | flex-end | center | <br> stretch | baseline;</code></li>
                <br>
                <ul>
                    <li>sets the <span class="highlight">vertical</span> alignment of all items when direction is <code
                            class="highlight">row</code>.</li>

                </ul>
            </ul>
            <br><br>
            <div class="text-box" style="justify-content: center; ">
                    <div  class="item">text <br>text</div>
                    <div  class="item">text</div>
                    <div  class="item">text <br>text <br>text</div>
    
                </div>

        </section>
        <section>
            <h2>Wrapped Lines Alignment</h2>
            <ul>
                <li><code>align-content: flex-start | flex-end | center | <br>space-between | space-around | space-evenly | <br>stretch | baseline;</code>
                </li>
                <br>
                <ul>
                    <li>Sets the <span class="highlight">vertical</span> alignment of each line when direction is <code
                            class="highlight">row</code>.</li>
                </ul>
            </ul>
        </section>
        <h1 class="title">Flex Items</h1>
        <section>
            <h2><span style="text-decoration:underline;">ALIGNMENT</span> of an Individual Item</h2>
            <ul>
                <li><code>align-self: flex-start | flex-end | center | <br> stretch | baseline ;</code></li>
                <br>
                <ul>
                    <li>sets the <span class="highlight">vertical</span> alignment of one item when direction is <code
                            class="highlight">row</code>.</li>

                </ul>
            </ul>
        </section>
        <section>
            <h2><span style="text-decoration:underline;">SIZE</span> of an Individual Item (fixed or proportional)</h2>
            <ul>

                <li>Set an item's width (when direction is row).</li>
                <li>Set an item's height (when direction is column).</li>
            </ul>
            <h3 class="title left">Fixed :</h3>
            <ul>
                <li><code>flex-basis: [number][unit];</code></li>

            </ul>

            <h3 class="title left">Proportional :</h3>
            <ul>
                <li><code>flex-grow: [unitless number];</code></li>
            </ul>


            <h3 class="title left">Shorthand :</h3>
            <ul>
                <li><code>flex: none | (flex-grow || flex-basis);</code></li>
            </ul>

            <div class="text-box">
                <div style="flex:1;" class="item">1</div>
                <div style="flex:1;" class="item">1</div>
                <div style="flex:1;" class="item">1</div>

            </div>
            <div class="text-box">
                <div style="flex:2;" class="item">2</div>
                <div style="flex:1;" class="item">1</div>
                <div style="flex:1;" class="item">1</div>

            </div>
            <div class="text-box">
                <div style="flex:150px;" class="item">150px</div>
                <div style="flex:1;" class="item">1</div>
                <div style="flex:1;" class="item">1</div>

            </div>


        </section>
        <section>
            <h2><span style="text-decoration:underline;">ORDER</span> of an Individual Item</h2>
            <ul>
                <li><code>order: [unitless number];</code></li>
                <ul>
                    <li>Accepts negative values as well.</li>
                </ul>
            </ul>
            <p lang="en-US" style='margin:0in;font-family:"Courier New";font-size:20.0pt;'>&lt;div
                class=&quot;orange&quot;&gt;-1&lt;/div&gt;</p>
            <p lang="en-US" style='margin:0in;font-family:"Courier New";font-size:20.0pt;'>&lt;div
                class=&quot;green&quot;&gt;0&lt;/div&gt;</p>
            <p lang="en-US" style='margin:0in;font-family:"Courier New";font-size:20.0pt;'>&lt;div
                class=&quot;blue&quot;&gt;1&lt;/div&gt;</p>
            <p lang="en-US" style='margin:0in;font-family:"Courier New";font-size:20.0pt;'>&lt;div
                class=&quot;red&quot;&gt;-2&lt;/div&gt;</p>
            <p lang="en-US" style='margin:0in;font-family:"Courier New";font-size:20.0pt;'>&lt;div
                class=&quot;pink&quot;&gt;2&lt;/div&gt;</p>
            <p>Default Order: <img style="position: relative; bottom:-10px;" src="./img/order-1.png" width="200"></p>

            <p lang="en-US" style='margin:0in;font-family:"Courier New";font-size:20.0pt;'>.orange{order:-1}</p>
            <p lang="en-US" style='margin:0in;font-family:"Courier New";font-size:20.0pt;'>.green{order:0}</p>
            <p lang="en-US" style='margin:0in;font-family:"Courier New";font-size:20.0pt;'>.blue{order:1}</p>
            <p lang="en-US" style='margin:0in;font-family:"Courier New";font-size:20.0pt;'>.red{order:-2;}</p>
            <p lang="en-US" style='margin:0in;font-family:"Courier New";font-size:20.0pt;'>.pink{order:2;}</p>
            <p>Rearranged Order: <img style="position: relative; bottom:-10px;" src="./img/order-2.png" width="200">
            </p>

        </section>
    </div>





    <script src="./app.js"></script>
</body>

</html>