.container{
    display:flex;
    height: 100vh;
}

/* ========== ASIDE ========== */
aside{
    flex:1;
}
aside .bg-wrapper{
    width: 100%;
    height: 100%;
    /* keep bg blue if bg-img not found  */
    /* background: bg-color bg-image position/bg-size bg-repeat bg-origin bg-clip bg-attachment */
    background: var(--blue) url(../img/bg.png) center center/auto no-repeat ;
    display: flex;
    justify-content: center; align-items: center;
}
/*  LOGO  */
aside img{
    width:90%;
    max-width: 300px;
}

/* ========== MAIN ========== */
main{
    min-width: 600px; 
    background: black;
    padding: 2rem 3rem; 
}

/* ========== FORM ========== */
main .form-wrapper{
    display:flex;
}
main input{
    /* local scope variables  */
    --padding: .5em; 
    --font-size:2rem;
    --border-color: #404040; 
    --border-radius:5px;
    --width:200px;
    display:block;
    height: 5rem;
    margin-right:1.5rem; 
    background: transparent;

    border: 1px solid var(--border-color);
    border-radius: var(--border-radius);
    padding: 0 var(--padding);
    font-size: var(--font-size);
}
main input[type='submit']{
    --padding:2rem; 
    --font-size:1.5rem; 
    --border-color: var(--blue);
    --border-radius:50px;

    color: var(--blue);
    font-weight: bold;
    cursor: pointer;
}

main a{
    color: var(--blue);;
    font-size:1.2rem;
    padding: 1rem; 
}
/* ========== FLEX-CONTAINER ========== */
main .flex-container{
    margin-top:100px; 
}
.flex-container img{
    width:3rem;
}
.flex-container h1{
    margin:5rem 0;
}
/* BUTTONS  */
.flex-container .buttons{
    display: flex;
    flex-direction: column;
    margin-top: 3rem;
}
.flex-container .buttons div{
    width: 300px;
    text-align:center;
    padding:1rem;
    margin-bottom:2rem;
    margin-right:2rem;
    border: 1px solid var(--blue);
    border-radius: 20px;
    font-weight: bold;
    cursor: pointer;
}
.flex-container .buttons div:hover{
    filter: saturate(80%)
}
#signup{
    background: var(--blue);
}
#login{
    color: var(--blue);
}

/* ========== MEDIA QUERIES ========== */

/* Screens with height < 640px */
@media only screen and (max-height:640px){
    main form{
        display: none; 
    }
}

/* Screens with width < 850px */
@media only screen and (max-width:850px){
    main form{
        display: none; 
    }
    .container{
        flex-direction: column; 
    }
    main{
        width: 100%; 
        min-width: 100%;
        order:-1;
    }
    main .flex-container{
        width: 60%;
        min-width: 350px;
        margin:auto;
    }
    .flex-container .buttons{
        flex-direction: row;
    }
    .flex-container .buttons div{
        width:150px
    }

    aside img{
        height: 150px;
    }
}

/* Screens with width < 430px */
@media only screen and (max-width:430px){
    main .flex-container{
        min-width: 100%;
        width:100%;
    }
    /* overriding style.css (order matters here) */
    h1{font-size: 4rem !important;  }
    h2{font-size: 2rem!important;	}
    h1,h2{
        overflow-wrap: break-word;
    }

    .flex-container .buttons{
        flex-direction: column;
    }
    .flex-container .buttons div{
        width:100%;
    }
}