body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100vh;
  cursor: none;
}

#bamboo {
  position: absolute;
  height: 300px;
  z-index: 1;
  opacity: 0;
  -webkit-transition: opacity 1s ease;
  transition: opacity 1s ease;
  -webkit-animation: shake 3s ease infinite alternate;
          animation: shake 3s ease infinite alternate;
}

@-webkit-keyframes shake {
  0% {
    -webkit-transform: rotateZ(0deg) translate(-50%, -50%);
            transform: rotateZ(0deg) translate(-50%, -50%);
  }
  70% {
    -webkit-transform: rotateZ(-5deg) translate(-50%, -50%);
            transform: rotateZ(-5deg) translate(-50%, -50%);
  }
  100% {
    -webkit-transform: rotateZ(-2deg) translate(-50%, -50%);
            transform: rotateZ(-2deg) translate(-50%, -50%);
  }
}

@keyframes shake {
  0% {
    -webkit-transform: rotateZ(0deg) translate(-50%, -50%);
            transform: rotateZ(0deg) translate(-50%, -50%);
  }
  70% {
    -webkit-transform: rotateZ(-5deg) translate(-50%, -50%);
            transform: rotateZ(-5deg) translate(-50%, -50%);
  }
  100% {
    -webkit-transform: rotateZ(-2deg) translate(-50%, -50%);
            transform: rotateZ(-2deg) translate(-50%, -50%);
  }
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
}

h1 {
  margin-bottom: 50px;
  font-family: 'Nunito', sans-serif;
  font-size: 5rem;
  margin: 30px;
  color: #453c39;
}

.face, .face::before {
  position: relative;
  height: 480px;
  width: 550px;
  background: #fbede6;
  border-radius: 80% 80% 70% 70% / 100% 100% 60% 60%;
  -webkit-box-shadow: 0px 0px 20px 3px rgba(85, 85, 85, 0.1);
          box-shadow: 0px 0px 20px 3px rgba(85, 85, 85, 0.1);
}

.face::before {
  content: "";
  position: absolute;
  background: #f2dccc;
  -webkit-clip-path: polygon(50% 0, 100% 0, 100% 100%, 50% 100%);
          clip-path: polygon(50% 0, 100% 0, 100% 100%, 50% 100%);
}

.eye {
  position: absolute;
  height: 150px;
  width: 150px;
  background: #453c39;
  top: 190px;
  border-radius: 90%;
}

.eye > .eyeball {
  position: absolute;
  width: 60px;
  height: 60px;
  background: #fbede6;
  border-radius: 50%;
  left: 35%;
  bottom: 15px;
}

.eye > .eyeball::before {
  content: "";
  position: absolute;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background: #453c39;
  -webkit-transform: scale(0.6) translateY(10px);
          transform: scale(0.6) translateY(10px);
}

.eye.left {
  left: 80px;
}

.eye.right {
  right: 80px;
}

.ear {
  position: absolute;
  height: 160px;
  width: 190px;
  background: #56524e;
  border-radius: 90%;
  top: 10px;
  -webkit-box-shadow: 0px 0px 20px 3px rgba(85, 85, 85, 0.1), inset 0px 0px 0px 34px #453c39;
          box-shadow: 0px 0px 20px 3px rgba(85, 85, 85, 0.1), inset 0px 0px 0px 34px #453c39;
  z-index: -1;
}

.ear.right {
  position: abolute;
  right: -5px;
  -webkit-transform: rotate(-40deg);
          transform: rotate(-40deg);
}

.ear.left {
  position: abolute;
  left: -5px;
  -webkit-transform: rotate(40deg);
          transform: rotate(40deg);
}

.nose {
  position: absolute;
  height: 50px;
  width: 160px;
  background: #453c39;
  bottom: 90px;
  left: calc(50% - (160px/2));
  border-radius: 70% 70% 80% 80% /  60% 60% 100% 100%;
}

.mouth {
  position: absolute;
  width: 200px;
  height: 100px;
  left: calc(50% - (200px/2));
  bottom: 20px;
}

.mouth .p1 {
  position: absolute;
  height: 85px;
  width: 50px;
  right: calc(64.7% - (200px/2));
  border: 10px solid #453c39;
  border-radius: 70% 70% 80% 80% /   60% 60% 100% 100%;
  -webkit-transform: rotate(70deg);
          transform: rotate(70deg);
  -webkit-clip-path: polygon(60% 0, 100% 0, 100% 100%, 60% 100%);
          clip-path: polygon(60% 0, 100% 0, 100% 100%, 60% 100%);
}

.mouth .p2 {
  position: absolute;
  height: 85px;
  width: 50px;
  border: 10px solid #453c39;
  border-radius: 80% 80% 70% 70%  / 100% 100% 60% 60%;
  left: calc(64.7% - (200px/2));
  -webkit-transform: rotate(110deg);
          transform: rotate(110deg);
  -webkit-clip-path: polygon(60% 0, 100% 0, 100% 100%, 60% 100%);
          clip-path: polygon(60% 0, 100% 0, 100% 100%, 60% 100%);
}
/*# sourceMappingURL=style.css.map */