@import "./index.css" ;
@import "./tablet-vp.css"; 
@import "./mobile-vp.css"; 

/* COLORS */
:root{
	--text:#707070;
	--bg:#F6F6F6;

}
/* RESETTING */
*,*::before,*::after{
	padding:0;
	margin:0;
	box-sizing: border-box;
	list-style: none;      /* remove bullet point from lists */
	text-decoration: none;
	color: var(--text); 
}

html{
	font-size:62.5%  /* 1rem  = 10px */
}

body{
	font-family: 'Roboto', sans-serif;
	font-size: 2rem;
	background: var(--bg);
	color: var(--text); 

}

/* TYPOGRAPHY  */
h1{font-size: 3.6rem;}
h3{font-size: 2.4rem;}
h4{font-size: 1.8rem;}
h5{font-size: 1.4rem;}
h6{font-size: 1rem;}
p{font-size: 2rem;}
li{font-size: 2rem;}



