.email-container{
    background: white;
    /* height: 1000px; */
     width: 96%; 
    margin: 30px auto;
    box-shadow: 0 0 20px rgb(0 0 0 / 6%);
    display: flex;
}
/* ========== SIDEBAR SECTION ========== */
#sidebar{
    flex-basis: 250px;
    border-right:1px solid #dfdfdf ;
}
/* COMPOSE  */
#compose-container{
    border-bottom: 1px solid #dfdfdf ;
    padding:1.5rem;
}
#compose-button{
    display: block;
    background: var(--purple);
    color:#fff; 
    text-align: center;
    /* padding:.5em; */
    height: 40px;
    line-height: 40px;
    cursor: pointer;
    border-radius: 5px; 

}
#compose-button:hover{
    box-shadow: 0 0 0px 5px var(--purple-dimmed); 
}
/* ========== NAV ========== */
#email-nav ul{
    display: flex;
    flex-direction: column;
}
#email-nav li{
    display: flex;
    padding: 1rem 2rem;
    margin: 1rem;
    border-radius: 10px;
    cursor: pointer;
}
#email-nav li:hover{
    background: var(--purple-dimmed);
}
#email-nav h4{
    font-weight: 400;
}
#email-nav img{
    height: 2rem;
    margin-right: 2rem;
}
#email-nav li:hover > h4{
    color:#fff; 
}
#email-nav li:hover > img{
    filter:saturate(100%) invert(100%) ;
}



/* ========== MAIN SECTION ========== */
#main{
    flex-grow: 1;

}
#main .toolbar{
    padding:1.5rem; 
    border-bottom: 1px solid #dfdfdf ;
    display: flex;
    cursor: pointer;
}
#main .toolbar div{
    height: 40px; width:40px;
    border: 1px solid #DFDFDF; 
    border-radius: 5px;
    margin:0 10px; 

}
#main .toolbar div img{
    height: 20px;
    margin: 10px; 
}
#main .toolbar div:hover{
    background: var(--purple);
}
#main .toolbar div:active{
    box-shadow: 0 0 0px 5px var(--purple-dimmed); 

}
#main .toolbar div:nth-child(4):hover{
    background: var(--warning);
}
#main .toolbar div:hover img{
    filter:saturate(100%) invert(100%) ;
}
/* custom checkbox  */
.custom-checkbox{
    height: 0px; visibility: hidden;
}
.custom-checkbox+label{
    height: 20px; width:20px;
    border-radius: 50%; border:1px solid grey; 
    position: relative;
    cursor: pointer;
}
.custom-checkbox+label:active{
    box-shadow: 0 0 0px 5px var(--purple-dimmed); 
}
.custom-checkbox:checked+label{
    background: var(--purple);
    border:none; 
}
.custom-checkbox:checked+label::before{
    position: absolute;top:-3px;left:3px;  
    content: "\2713";
    color:#fff; 
    
}

/* SEARCH BAR  */
#main .toolbar #search-bar{
    min-width:200px;
    flex-grow: 1;
    background: url(../img/search-icon.svg) no-repeat;
    background-position: 95% center;
    background-size: 25px;
}
#main .toolbar input[type='text']{
    height: 20px;
    margin: 10px; 
    border: none;
    outline: none;
}

/* ========== EMAILS LIST ========== */
#inbox{
    height: 550px;
    overflow: auto;
}
#inbox .email{
    border-bottom: 1px solid #dfdfdf ;
    padding: 1rem 2rem;
}
#inbox .email:hover{
    background: #f5f5f5;
}
#inbox .email, #inbox .email div:first-child{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#inbox .email div:first-child{
    flex-grow: 1;
    justify-content: flex-start;
    /* border:2px solid orange;  */

}
#inbox .email-check + label {
    margin-right:10px; 
}
#inbox .sender{
    white-space: nowrap; 
    flex-basis:200px; 
    min-width: 100px;
    margin-right: 10px;
    /* border:2px solid green;  */

}
#inbox .heading{
 
    min-width: 100px;
    /* max-width: 300px; */
    height: 25px;
    /* border:2px solid red;  */

    white-space: nowrap; 
    overflow: hidden;
    text-overflow: ellipsis;


}


/* ========== MEDIA QUERIES ========== */
@media (max-width: 900px){
    .email-container{
        flex-direction: column;
    }
    #email-nav ul{
        flex-direction: row;
        flex-wrap: wrap;
    }
}
@media (max-width: 500px){
    #main .toolbar{
        flex-wrap: wrap;
    }
    #main .toolbar #search-bar{
        margin-top:1.5rem;
    }
}