/* GENERAL */
*,*::before,*::after{
	padding:0;
	margin:0;
	box-sizing: content-box;
	list-style: none;      /*remove bullet point from lists*/
	text-decoration:none; /*remove underline from <a>*/
    color: #000; 

}

html{
    font-size:62.5%;  /*1rem  = 10px*/ 
    scroll-behavior: smooth;
}

body{
	font-family: 'Poppins', sans-serif;
	background: #F8F8F8; 
    font-size: 3rem;
}
.container{
    width:80%;
    margin:auto;
}

/* TYPOGRAPHY */
h1{font-size:9rem;}
h2{font-size:5rem;}
h4{font-size:3rem;}
p{font-size:2rem;}

/* SECTION-1-HOME */
#home{
    width:100%;
    height: 100vh;
    background-image: linear-gradient(hsla(0, 0%, 0%, 0.4),hsla(0, 0%, 0%, 0.3)), url(./img/hero.jpeg) ;
    background-size: cover;
    background-repeat: no-repeat;
    /* background-position: 0 -100px ; */
}
header{
    height: 25vh;
}
header .logo{
    float:left;
    line-height: 25vh; 
    font-weight: normal;
    font-family: 'Sacramento', cursive;
}
header ul{
    float:right;
}
header ul li{
    float:left;
    line-height: 25vh; 
    font-weight: 600;
    padding: 0 .5em; 
    transition: .1s ease;
    
}
header ul li a:hover{
    color:#505050; 
}

.showcase{
    text-align: center;
    font-weight: 600;
}
.showcase .top{
    margin-top:50px;
    padding-top:1em;

}
.showcase .bottom{
    margin-top:200px;

}
.showcase .bottom a{
    font-weight: 500;
    text-decoration: overline;
    color:white;
}

/* SECTION-2-BLOG intro*/

#blog .intro{
    background: #F0F0F0;
    text-align: center;
    padding: 2em 0; 
}
#blog .intro h2, #blog .intro p{
    font-weight: normal;
    color:#505050; 

}

/* SECTION-2-BLOG cards*/
.cards{
    margin-top:3em; 
    margin-bottom: 3em;
}
.cards .card{
    float:left;
    min-height: 40vh;
    width:33%;
    text-align: center;
    border-radius: 5px;
}
.cards .card:hover{
    background: #f0f0f0;
}

.cards .card .img-holder{
    height: 200px;
    width: 93%;
    margin: .5em auto; 
    overflow: hidden;
}
.cards .card .img-holder img{
    width:100%;
    object-fit: cover;
    
}
.cards .card .title{
    padding: .2em;
    font-weight: normal;
    font-family: 'Sacramento', cursive;

}
.clear { clear:both; }
/* SECTION-2-BLOG articles*/

.articles{
    background: #F0F0F0;
    margin-top: 2em ; 
    padding: 2em 0;    
}
.article1{
    float:left;
    width:40%;
}
.article2{
    float:right;
    width:30%;
}

.articles h3{
    padding-bottom: 1.6em;
    text-align: center;
    font-weight: 500;
}
.articles p{
    font-weight: 300;
}

.article2 p{
    background: white;
    padding: 30px; 
}

/* SECTION-3-findme */

footer{
    width:100%;
    height: 50vh;
    background-image: linear-gradient(hsla(0, 0%, 0%, 0.7),hsla(0, 0%, 0%, 0.7)), url(./img/footer.jpeg) ;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}
footer h1{
    color: #F0F0F0; 
}
footer img{
    -webkit-filter: grayscale(1) invert(1);
    width: 50px;
    transition: .5s; 
    cursor: pointer;
}
footer img:hover{
    transform: scale(1.5);
}
