@import "./index.css" ;

/* COLORS */
:root{
    --bg: #F5F5F5; 
    --box: #dbdbdb; 
	--text: #505050; 
	--blue: #abced4; 
}
/* RESETTING */
*,*::before,*::after{
	box-sizing: content-box;
	list-style-position: inside;	
}

html{
	font-size:62.5%  /* 1rem  = 10px */
}

body{
	font-family: 'Montserrat', sans-serif;
	background: var(--bg); 
	font-size: 2.5rem;
	color: var(--text); 
}


.container{
	width: 70%;
	margin: 2em auto;
}

section{
	padding: 2rem 2rem 2rem 10rem;
	margin: 2rem auto;
	background-color: #fff;
	background-image:
	linear-gradient(90deg, transparent 79px, #abced4 79px, #abced4 81px, transparent 81px),
	linear-gradient(#eee .1em, transparent .1em);
	background-size: 100% 1.2em;
	border-radius: 10px;
	box-shadow: 0 0 5px 5px #f0f0f0;
	text-align: left;
	transition: all .3s ease-in;

}
section:hover{
	box-shadow: 0 0 10px 5px #e8e8e8;
}
code{
	font-size: 3rem;
}
h1, h2, h3{
	letter-spacing: -3px;
	font-weight: normal;
}

.title{
	padding:.5rem 1rem;
	border-bottom: 2px solid #abced4;
	width: fit-content; 
	margin:auto;
	font-weight:  500;	
	text-transform: uppercase;
}
.left{
	margin:0; 
}
h2{
	color:#abced4;
	font-weight: 500;
	width: fit-content;
	
}
b{
	font-weight: 600;
}
.color{
    display: inline-block;
    margin: .5em 2em; 
    position: relative;
    text-transform: uppercase;
}
.color::before{
    content: "";
    position: absolute;
    left: -25px;
    top:50%; transform: translateY(-50%);
    width: 20px; height: 20px; 
    border-radius: 50%;
    background: var(--color);
    
}
#box{
	height: 50px; width: 100px;
	border-radius: 5px;
	line-height: 50px;
	text-align: center;
	margin: auto;
}
.highlight{
	position: relative;
	z-index: 1;
}
.highlight::before{
	content: "";
	position: absolute;
	left: 50%; top:50%;
	transform: translate(-50%, -50%);
	background: #abced444;
	height: .7em;
	border-radius: 2px 10px 2px 10px;
	width:95%;
	z-index: -1;
}
.text-box{
	min-height: 50px;
	  
    width: fit-content;
    border-radius: 5px;
    border: 2px dashed #abced4;
    background: #abced444;
    margin:auto; 
    padding: 1rem; 
    font-size: 4rem;
    text-align: center;
    box-shadow: -5px -5px #abced444;
    transition: all 1s ease-in;
   
}

.cir{
	width:40px; height:40px;
	margin: .2em; 
	background: #e0e0e0;
	display: inline-block;
	border-radius: 50%;
}







