.trans{
     padding: .5em; 
    border:20px solid #6db9c0;border-radius: 7px;
    font-weight: 800;
    margin: 2.5rem auto;
    background: #abced4;
    text-align: center;

}
#trans1{
    border:25px solid #6db9c080;
}
#trans2{
    background: #abced480;
}
#trans3{
    color:#50505080; 
}
.opacity3{
    opacity: 0.3;
}