.container{
	width:90%;
	margin: auto;
}
.flex-container{
    display: flex;
    flex-direction: column;
}
/* ==================HEADER================== */
header{
    background: var(--purple-d);
    margin-bottom:4rem ;
    color:#fff; 
}
/* ==================MAIN================== */
main > div{
    margin:1rem; 
}
/* ==================TOP================== */
#top{
    display:flex;
    background: #fff; 
    border-radius: 5px;
    padding: 2rem;
    position: relative;
    min-height: fit-content;
    margin-top:5rem; 
}
#top h1{
    flex-basis: 50%;
}
#top img{
    display: block;
    height: 140%;
    max-width: 50%;
    position: absolute;
    bottom: -1px;
    right:5% 
}

@media only screen and (min-width:600px){
    .container{
        flex-direction: row;
    }
    aside{
        flex-basis: 20%;
        flex-shrink: 0;
    }
    main{
        flex-grow:1;
    }
}
