/* COLORS */
:root{
	--purple-l: #F2F1FF; 
    --purple-d: #615CF7; 
    --shadow: hsl(244, 100%, 95%);
	--cyan: #00CEC1;
	--orange: #F08549;
    --text: #505050; 
}
/* RESETTING */
*,*::before,*::after{
	padding:0;
	margin:0;
	box-sizing: border-box;
	list-style: none;      /* remove bullet point from lists */
	text-decoration:none; /* remove underline from <a> */
    font-weight: normal;
}

html{
	font-size:62.5%  /* 1rem  = 10px */
}

body{
	font-family: 'Roboto Slab', serif;
	background: var(--purple-l); 
	font-size: 3rem;
    color: var(--text); 

}

/* TYPOGRAPHY  */
h1{font-size: 3rem;}
h2{font-size: 2.5rem;}
h3{font-size: 2rem;}
h4{font-size: 1.5rem;}
h5{font-size: 1rem;}
h6{font-size: .5rem;}
p{font-size: 2rem;}
li{font-size: 1.5rem;}
