<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link
        href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,600;0,800;1,400&family=Poppins:wght@400;500;600;900&display=swap"
        rel="stylesheet">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="./style/style.css" rel="stylesheet" type="text/css" />
    <title>Document</title>
</head>

<body>
    <div class="container">
        <h1 class="title">Building Layout</h1>
        <section>
            <p>Since <span class="highlight">block-level elements</span> are stacked only on top of each other <br>
            and <span class="highlight">inline-level elemets</span> are stacked only next to each other, <br>
        how can we change elements placement to build complicated layouts as the following?</p>
        <br>
        <img src="./SVG/layouts.svg" alt="">
        </section>
        <h1 class="title">Layout Tools</h1>
        <section>
            <h2>Tables</h2>
            <ul>
                <li>Table-based layouts used to be the conventional way of structuring webpages. </li>
                <li>with the combination of rows and columns with varying colspan/rowspan, <br>
                it is possible to build webpages layouts as the following.</li>
            </ul>
            <br>
            <p class="codepen" data-height="400" data-theme-id="light" data-default-tab="html,result" data-user="ulfat_dawood" data-slug-hash="OJRgVdw" style="height: 265px; box-sizing: border-box; display: flex; align-items: center; justify-content: center; border: 2px solid; margin: 1em 0; padding: 1em;" data-pen-title="Table-based Layout">
                    <span>See the Pen <a href="https://codepen.io/ulfat_dawood/pen/OJRgVdw">
                    Table-based Layout</a> by Ulfat (<a href="https://codepen.io/ulfat_dawood">@ulfat_dawood</a>)
                    on <a href="https://codepen.io">CodePen</a>.</span>
                  </p>
                  <script async src="https://cpwebassets.codepen.io/assets/embed/ei.js"></script>
        </section>

        <!-- <section>
            <h2>iframes</h2>
        </section> -->

        <section>
            <h2>Float</h2>
            <ul>
                <li>Using <code class="highlight">float:rigth</code> and <code class="highlight">float:left</code> with <br> a hint of <code class="highlight">display: inline-block;</code>
                It is possible to build quite complicated web pages.</li>
                <li>Here's an example:</li>
            </ul>
            <p class="codepen" data-height="500" data-theme-id="light" data-default-tab="result" data-user="ulfat_dawood" data-slug-hash="ExgXjqy" style="height: 265px; box-sizing: border-box; display: flex; align-items: center; justify-content: center; border: 2px solid; margin: 1em 0; padding: 1em;" data-pen-title="Float-based Layouts">
                    <span>See the Pen <a href="https://codepen.io/ulfat_dawood/pen/ExgXjqy">
                    Float-based Layouts</a> by Ulfat (<a href="https://codepen.io/ulfat_dawood">@ulfat_dawood</a>)
                    on <a href="https://codepen.io">CodePen</a>.</span>
                  </p>
                  <script async src="https://cpwebassets.codepen.io/assets/embed/ei.js"></script>
            
        </section>
        <h1 class="title">Modern Layout Tools</h1>
        <section>
            <h2>Flexbox</h2>
            <ul>
                <li>Used to build layout in one dimension - either a row or a column. </li>
            </ul>
            <p class="codepen" data-height="378" data-theme-id="light" data-default-tab="css,result" data-user="ulfat_dawood" data-slug-hash="mdrwemz" style="height: 378px; box-sizing: border-box; display: flex; align-items: center; justify-content: center; border: 2px solid; margin: 1em 0; padding: 1em;" data-pen-title="Flexbox">
                    <span>See the Pen <a href="https://codepen.io/ulfat_dawood/pen/mdrwemz">
                    Flexbox</a> by Ulfat (<a href="https://codepen.io/ulfat_dawood">@ulfat_dawood</a>)
                    on <a href="https://codepen.io">CodePen</a>.</span>
                  </p>
                  <script async src="https://cpwebassets.codepen.io/assets/embed/ei.js"></script>
        </section>
        <section>
            <h2>Grid</h2>
            <li>Used to build layout in two dimension - rows, and columns at the same time. </li>

            <p class="codepen" data-height="265" data-theme-id="light" data-default-tab="css,result" data-user="ulfat_dawood" data-slug-hash="JjRJYOO" style="height: 265px; box-sizing: border-box; display: flex; align-items: center; justify-content: center; border: 2px solid; margin: 1em 0; padding: 1em;" data-pen-title="Grid">
                    <span>See the Pen <a href="https://codepen.io/ulfat_dawood/pen/JjRJYOO">
                    Grid</a> by Ulfat (<a href="https://codepen.io/ulfat_dawood">@ulfat_dawood</a>)
                    on <a href="https://codepen.io">CodePen</a>.</span>
                  </p>
                  <script async src="https://cpwebassets.codepen.io/assets/embed/ei.js"></script>
        </section>
    </div>



    <script src="./app.js"></script>
</body>

</html>