/* ==========HOVER========== */

#hover .list{
    margin-top: 5rem;
    text-align: left;
    border-radius: 5px;
    background: #eee; 
    padding: .5rem;
    width: 50%; 
}
#hover li{
    border-radius: 5px;
    background: #ccc; 
    margin: 1rem;
    padding: .25em;
    cursor: pointer; 
    transition: background 1s ease;
}
#hover li:hover{
    background: #9f9f9f; 
}




/* ==========ACTIVE========== */
#active .list{
    margin-top: 5rem;
    text-align: left;
    border-radius: 5px;
    background: #eee; 
    padding: .5rem;
    width: 50%; 
}
#active li{
    border-radius: 5px;
    background: #ccc; 
    margin: 1rem;
    padding: .25em;
    cursor: pointer; 
    transition: outline 1s ease;
}
#active li:active{
    outline: 1px solid #9f9f9f; 
}







/* ==========ADD ICON========== */
.wrapper{
    margin-top: 4rem;
}
#add .icon{
    padding: 1rem 2rem; 
    background: #fff;
    border-radius: 50px; 
    position: relative;
    cursor: pointer;
    margin: 1rem auto; 
    text-align: left;
    width:fit-content; 
}
#add .icon:after{
    content: "";
    opacity: 0;
    transition: all .5s ease; 
}
#add .icon:hover::after{
    content: attr(data-text);
    opacity: 1;
    padding-left: 1rem;
}









/* ==========PROGRESS BAR========== */
#bar .flex-container{
    display: flex;
    width:100%;
    margin-top: 4rem;
    align-items: center;
}
.send{
    padding: 1rem;
    background: #e1c1c2; 
    border-radius: 5px;
    margin: auto 2rem; 
    cursor: pointer;
    transition: all 1s ease;
}
.send:hover{
    filter:saturate(1.5);
}
.send:active{
    transform: scale(1.1)
}
#bar .bar{
    width: 100%; height: 40px;
    background: #f1eae6 ;
    border-radius: 5px;
    border-radius: 5px;
    overflow: hidden;
}
#bar .line{
    width:0%; height: 100%;
    background: #c1e1c4 url(../SVG/diagonal-stripes.svg); 
}
#bar .animate{
    animation: grow cubic-bezier(0,1.02,1,.08) 10s 1 forwards;
}
@keyframes grow{
    0%{
        width:0%
    }
    /* from 6s to 7.5s the progress bar stops growing and sticks to 70% width  */
    60%{
        width:70%
    }
    75%{
        width:70%
    }
    100%{
        width:100%
    }
}




/* ==========PLAY BUTTON========== */
#play .btn{
    height: 60px; width: 250px; 
    display:flex; 
    justify-content: flex-start;
    align-items: center;
    cursor: pointer;
    margin-top: 7rem; 
}
.rect-wrapper{
    background: #e1c1c2; 
    box-sizing: content-box;
    padding: 2rem; margin: 2rem; 
    background: #e1c1c2;
    border-radius: 50%;
    transition: all 1s ease;
    
}
.rect-wrapper:hover{ transform: scale(1.2)}

.rect{
    height:40px; width:40px;
    position: relative; 

  }
  .large-line{
    height: 100%; 
    width: 10px;
    border-radius: 20px; 
    background: #505050; 
 }
  .s-line{
    height: 50%; 
    background: #505050; 
    width: 10px; 
    position: absolute; 
    right:0; 
    transition: all .2s linear; 
  }
  .s-line.top{
    top:0; 
    border-radius: 20px 20px 0 0; 
  }

  .s-line.bottom{
    bottom:0; 
    border-radius: 0 0 20px 20px ; 
    
  }
  #play .text{
	font-family: 'Comfortaa', cursive;
      font-weight: 600;
      font-size: 4.5rem;
      margin-top:.5rem;
  }

  .rotate-top{
    transform-origin: bottom right; 
    transform: rotate(-62deg) scaleY(2.1) translateX(3px);
    border-radius: 5px !important;
  }
  .rotate-bottom{
    border-radius: 5px !important; 
    transform-origin: top right; 
    transform: rotate(62deg) scaleY(2.1) translateX(3px);
  }

