/* ========== CONTAINER ==========  */
#file-container{
    /* border:1px solid red; */
    padding: 40px 5%;
    display:grid;
    grid-template-columns: 25% 1fr;
    grid-template-rows: auto auto;
    gap:25px;
    grid-template-areas: 
    "dir main" 
    "stat main" ;
}
#file-container> div{ 
    background: #fff;
    border-radius: 7px;
    box-shadow: 0 0 2rem 0 rgb(136 152 170 / 15%);
    padding:20px;
}
/* ========== DIRECTORY ==========  */
#dir{
    grid-area: dir;
}
#dir .add{
    text-align: center;
    background: var(--purple);
    color:#fff;
    font-size: 18px;
    padding:.25em;
    border-radius: 5px;
    cursor: pointer;
}
#dir .add:active{
    box-shadow: 0 0 0px 5px var(--purple-dimmed); 

}

#dir h4{
    margin:1.5rem 0;
}
#dir .sub-dir li{
    display:flex;
    justify-content: flex-start;
    align-items: center;
    padding: .5em;
    border-radius: 0 20px 20px 0;
    border-left: 2px solid transparent;
    cursor: pointer;
    transition: background .5s ease;
}
#dir .sub-dir li.active{
    background: #f5f5f5;
    border-left: 2px solid #dbdbdb;

}
#dir .sub-dir li:hover{
    background: var(--purple-dimmed);
    border-left: 2px solid var(--purple);
}
#dir .sub-dir li:hover > img{
    filter:none; 
}

#dir .sub-dir li:last-child{
    padding-bottom: 0;
    border:none;
}
#dir .sub-dir img{
    width:20px;
    margin-right: 1rem;
    filter:grayscale(100%)
}
#dir .sub-dir h5{
    font-weight: 400;
}


/* ========== STAT ==========  */
#stat{
    grid-area: stat;
}

#stat .capacity h3{
    color: var(--purple);
}
#stat .capacity h3 span{
    font-size: 70%;
    font-weight: 400;
}
#stat .chart{
    height: 7px;
    width: 100%;
    border-radius: 5px;
    overflow: hidden;
    background: #dbdbdb;
    display: flex;
    margin: 2rem 0;
}
#stat .chart >div{
    background: var(--color);
    flex-basis: var(--width);
}
/* LIST  */
#stat li{
    display: flex;
    justify-content: space-between;
    margin-top: 1.5rem;
}
#stat .type{
    display: flex;
}
#stat .img-container{
    display: flex;justify-content: center;align-items: center;
    background: var(--color);
    padding:1rem;
    border-radius: 5px; 
    margin-right: 1rem;
}
#stat .img-container img{
    width:20px; height: 20px;
}
#stat .desc h5, #stat .occupied{font-weight: 400;}


/* ========== MAIN ==========  */
#main{
    grid-area: main;
}
/* SEARCH BAR */
#main .search-bar{
    border: 1px solid #dbdbdb; 
    display: flex;
    height: 50px;
    border-radius: 5px;
}
#main .search-icon{
    border-right: 1px solid #dbdbdb; 
    width:60px;
    background: url(../img/search-icon.svg) no-repeat center center/30px;
}
#main .search-bar input{
    margin-left: 2rem;
    border:none;
    outline: none;
}
/* SERVICES  */
#main .services{ display: flex;}
#main .services > div{
    border: 1px solid #dbdbdb;
    border-radius: 15px;
    padding:2rem;
    margin-top: 3rem;
    flex-grow: 1;
    margin-right: 3rem;
}
#main .services > div:last-child{
    margin-right:0;
}
#main .services .img-container{
    border-radius: 15px;
    padding:1rem;
    background: var(--color);
    width:fit-content;
}
#main .services img{
    width:90px;
}
#main .services h3{
    margin: 2rem 0 3rem 0;
}
#main .services .stat{
    display: flex;
    justify-content: space-between;
} 
#main .services .stat h5{
 font-weight: 400;
 margin-bottom: 1rem;
}
#main .services .stat-chart{
    height: 5px;
    width:100%;
    background: linear-gradient(to right, var(--color) var(--occupied),#dbdbdb var(--occupied))
}


/* ========== MEDIA QUERIES ==========  */
@media (max-width:980px){
    #file-container{

    grid-template-areas: 
    "dir"
    "stat" 
    "main" ;
    grid-template-columns: auto;
    grid-template-rows: auto auto auto;
    }
}