.parent{
    
    background: hsla(189, 32%, 75%, 0.18);
    margin: 1em ; 
    border: 3px solid #abced4;
    text-align: center;
}
.child{
    background: #909090;
    color: #eee;
}

#relative div{
    position: relative;
    top:10px;
    left: 30px;

    bottom:auto;
    right:auto; 
}