.parent{
    width:200px;
    background: hsla(189, 32%, 75%, 0.18);
    margin: 1em auto; 
}
.child{
    background: #abced4;
    padding: .5em;
}

#relative .child{
    position: relative;
    top:10px;
    left: 30px;

    bottom:auto;
    right:auto; 
}