.float-right{
    float: right; 
}
.float-left{
    float: left;
}
.collapsing-parent{
    border: 2px solid grey; 
    margin:3px;
}

.clearfix::after {
    content: "";
    clear: both;
    /* hide the ::after pseudo element */
   display: block; 
   visibility: hidden; 
   height: 0; 
}
.clear{
    clear:both; 
}