.container{
    width:90%;
    margin:auto;
    position: relative;
}
.flex-container{
    display: flex;
    margin: 1.5rem 0;
    background: var(--bg-l);
    padding: 1rem ;
    align-items: center;
    border-radius: 10px;
}

#box{
    width:100px; height: 100px;
    background: linear-gradient(to bottom right, purple, tomato);
    position: absolute;
    border-radius: 50%;  
    margin: 2rem auto; 
}
.anim{
    animation: slide 1s; 
}

label{
    display: block;
    padding: .25em .5em;
    margin: auto .5em;
    background: var(--grey);
    border-radius: 50px;
    cursor: pointer;
    transition: all .5s ease; 
}
input[type='radio']{
    width:0; 
    height: 0;
    opacity: 0;
}
input[type='radio']:checked + label{
    background: purple ; 
    background: var(--color) ; 
     
}
button{
    display: block;
    padding: .25em .5em;
    margin: auto .5em;
    background: var(--grey);
    border-radius: 50px;
    cursor: pointer;
    border:none; 
    margin: 1rem; 
}
.prop{
    width:150px;
    color:var(--color);
}

#duration{--color:rgb(255, 251, 21);}
#timing-func{--color:#16B1D0;}
#delay{--color:#FF156D;}
#iteration{--color:rgb(255, 251, 21);;}
#direction{--color:#16B1D0;}
#fill-mode{--color:rgb(255, 251, 21);}
#play-state{--color:#FF156D;}




@keyframes slide{
    from{
        left: 0%;
        background: linear-gradient(to bottom right, purple, tomato);
    }
    to{
        left: 100%; 
        transform: translateX(-100%);
        background: linear-gradient(to bottom right, purple, tomato);

    }
}
