.container{
    width:fit-content;
    margin: auto;
    margin-bottom: 3rem; ;
    position: relative;
    text-align: center;
    padding: .01rem 1rem;
    box-shadow: 0 0 30px 0px hsl(234, 50%, 19%);
    border-radius: 7px;
}
.flex-container{
    display: flex;
    margin: 1.5rem 0;
    background: var(--bg-l);
    padding: .5rem 1rem ;
    align-items: center;
    border-radius: 10px;
}
.flex{
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;

}
.box-container{
    height:70px;
}
#box{
    width:60px; height: 60px;
    background: linear-gradient(to bottom right, purple, tomato);
    border-radius: 50%;  
    margin: 0 auto; 
    
    

}
.anim{
    animation: slide 1s; 
}

label{
    display: block;
    padding: .25em .5em;
    margin: .5rem .5em;
    background: var(--grey);
    border-radius: 50px;
    cursor: pointer;
    transition: all .5s ease; 
    font-size: 1.5rem;
}
label:hover{
    opacity: 0.8;
}
input[type='radio']{
    width:0; 
    height: 0;
    opacity: 0;
}
input[type='radio']:checked + label{
    background: purple ; 
    background: var(--color) ; 
     
}
button{
    padding: .25em .5em;
    padding-top:.4em;
    margin: auto .5em;
    background: var(--grey);
    border-radius: 50px;
    cursor: pointer;
    border:none; 
    margin: 1rem; 
    outline: none;
    transition: all .5s ease; 

}
button:hover{
    opacity: .7;
}
.prop{
    min-width:150px;
    color:var(--color);
}

#duration{--color:rgb(255, 251, 21);}
#timing-func{--color:#16B1D0;}
#delay{--color:#FF156D;}
#iteration{--color:rgb(255, 251, 21);;}
#direction{--color:#16B1D0;}
#fill-mode{--color:rgb(255, 251, 21);}
#play-state{--color:#FF156D;}



@keyframes slide{
    from{
        left: 3%;
        position: absolute;
        background: linear-gradient(to bottom right, purple, tomato);
    }
    to{
        left: 97%; 
        position: absolute;
        transform: translateX(-100%);
        background: linear-gradient(to bottom right, purple, tomato);

    }
}
