<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link
        href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,600;0,800;1,400&family=Poppins:wght@400;500;600;900&display=swap"
        rel="stylesheet">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="./style/style.css" rel="stylesheet" type="text/css" />
    <title>Document</title>
</head>

<body>
    <div class="container">
        <h1 class="title">Layout Conventions</h1>
        <section>
            <h2>Why Follow Conventions?</h2>
            <ul>

                <li>Why follow web design standards like:</li>
                <ul>
                    <li>using &lt;h1&gt; - &lt;h6&gt; and not just simply changing <code class="highlight">font-size</code> property of a  <code class="highlight">&lt;div&gt;</code>.</li>
                    <li>Placing logo and navigation links on the top header.</li>
                </ul>
                <br>
                <li>Because..</li>
                <ul>
                <li>Conventions make websites feel familiar from site to site, making it easier for any user to navigate through the webpage. </li>
                <li>
                        These conventions help search engines and web crawlers to easily understand webpage content and access every page of a website across the Internet.
                </li>
            </ul>
        </section>

        <h1 class="title">best practices</h1>
        <section>
            <h2>Navigation Links</h2>
            <p>Always enclose any section that includes some means for navigation within the <code class="highlight">&lt;nav&gt;</code> tag.</p>

        </section>
        <section>
            <h2>Lists</h2>
            <ul>
                <li>
                        <p>Navigation links, menus, contacts or any other list of items should alway be contained 
                                within either:
                                <ul>
                                    <li>An unordered list <code class="highlight">&lt;ul&gt;</code>, or</li>
                                    <li>An ordered list <code class="highlight">&lt;ol&gt;</code>.</li>
                                </ul>
                                
                            </p>
                </li>
                <li>
                    <p>Where each item in the list is wrapped within:
                        <ul>
                            <li>A list item <code class="highlight">&lt;li&gt;</code> tag.</li>
                        </ul>
                    </p>
                </li>
            </ul>
        </section>
        <section>
            <h2>Containers</h2>
            <p>
                To give a webpage a unified look and better readability, it's recommended to wrap all the main sections of the page 
                within containers that have even/similar margin to center the content of the page and give all sections
                a consistent margin.
            </p>

        </section>



        <section>
            <h2>fonts</h2>
            <ul>
                <li>Use less font families, max 2 or 3, for headers and body text.</li>
                <li>But how to add variation and contrast to different text?</li>
                <li>You cna play around with:
                    <ol>
                        <li>Colors: hue, saturation or lightness.</li>
                        <li>Text style: weight, size or capitalization.</li>
                        <li>Whitespace: letter spacing, line-height or margin.</li>

                    </ol>
                </li>
            </ul>
        </section>

        <section>
                <h2>Keep It Simple Stupid</h2>
                <p>Always remember, less is more. <br>
                    While exploring all CSS properties is important, 
                    using the stylistic features of CSS in moderation is a key to  better web design.     
                </p>
            </section>
    </div>



    <script src="./app.js"></script>
</body>

</html>