#dashboard-container{
    /* border: 1px solid red; */
    padding:4rem 3%;
}
/* ========= SECTION ONE ==========  */
#one{
 display:flex;
 justify-content: space-between;
}

#one .card{
    flex-basis:23%; 
    border-radius: 15px;
    padding:15px;
}
#one .card:nth-child(1){background: linear-gradient(to right, #159957 , #155799);}
#one .card:nth-child(2){background: linear-gradient(to right, #673AB7 , #512DA8);}
#one .card:nth-child(3){background: linear-gradient(to right, #B24592 , #F15F79);}
#one .card:nth-child(4){background: linear-gradient(to right, #F00000 , #DC281E);}

#one .info{
    display: flex;
    justify-content: space-between;
}
#one .title h4{
    color:white; 
}
#one .title h4:first-child{font-weight: 300; margin-bottom: .5rem;}
#one .progress{
    margin-top: 20px;
    height: 5px; width: 100%;
    border-radius: 5px;
    background: linear-gradient(to right, #fff var(--progress) , rgba(100%, 100%,100%, .2) var(--progress)); ;
}

/* ========= SECTION TWO ==========  */
#two{
    margin-top: 3rem;
    background: #fff;
    border-radius: 15px;
    box-shadow: 0 0 2rem 0 rgb(136 152 170 / 15%);
    padding:20px;
    height: 400px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    /* width:99.9%; */ 
}
#two h4{
    margin-bottom: 2rem;
}
#two .canvas-parent{
    /* parent set to relative to allow canvas to be responsive  */
    position: relative;
    flex-grow: 1; 
    /* border: 2px solid red; */
    max-width:99%;
}

/* ========= SECTION THREE ==========  */
#three{
    display: flex;
    justify-content: space-between;
}
#three > div{
    margin-top: 3rem;
    background: #fff;
    border-radius: 15px;
    box-shadow: 0 0 2rem 0 rgb(136 152 170 / 15%);
    padding:20px;
    width:48%;
    max-width: 48%;
    height: 250px;
}
#three .parent{
    position: relative;
    /* border:2px solid green; */
    max-width: 99%; height: 100%;
}

/* ========= SECTION FOUR ==========  */
#four{
    display:flex;
    justify-content: space-between;
}

#four .countries{
    margin-top: 3rem;
    background: #fff;
    border-radius: 15px;
    box-shadow: 0 0 2rem 0 rgb(136 152 170 / 15%);
    padding:20px;
    width:70%;
    max-width: 70%;
    /* flex-item can't shrink less than 70% : */
    flex-shrink: 0;
    height: 400px;
    
}
#four .gauge-group{
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 3rem;
    width:26%;
    max-width: 26%;
    /* flex-item can't shrink less than 70% : */
    flex-shrink: 0;
    height: 400px;
}
/* ========= GAUGE ==========  */

#four .gauge-1 , #four .gauge-2{
    background: #DCB0FFcc;
    border-radius: 15px;
    box-shadow: 0 0 2rem 0 rgb(136 152 170 / 15%);
    padding:20px;
    max-height: 45%;
    flex-shrink: 0;
}
#four .gauge-1 .parent,
#four .countries .parent,
#four .gauge-2 .parent{
    position: relative;
    /* border:2px solid green; */
    max-width: 99%; height: 100%;
}

/* ========== MEDIA QUERIES ========== */
@media (max-width: 950px){
    /* containers  */
    #one,#three,#four{flex-direction: column;}
    #four .gauge-group{flex-direction: row;}
    /* elements  */
    #one .card{margin-bottom: 1.5rem;}
    #three > div,#four .countries, #four .gauge-group{
        width:100%;
        max-width: 100%;
    }
    #four .gauge-1 , #four .gauge-2{
        width: 46%;
    }

}

@media (max-width: 450px){
    #four .gauge-group{flex-direction: column;}
    #four .gauge-1 , #four .gauge-2{
        width: 100%;
    }
}