@media only screen and (min-width:890px){

.container{
    flex-direction: row;
}
main{
    flex-grow:1;
}
aside{
    flex-basis: 30%;
    flex-shrink: 0;
}
/* ==================CARDS================== */
#cards{
    flex-direction: row; 
}
#cards .card{
    flex-direction: column;
    margin: 1rem ;

}
/* ==================ASIDE================== */
aside div{
    margin: 0 0 4rem auto; 

}
    
}
