.grid-container{
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows: 10vh 1fr 10vh;
    place-items:stretch stretch;
    grid-template-areas:
      "header header  header"
      "nav    main aside"
      "footer footer  footer"; 

}
.grid-container > *{
    background: #909090;
    margin: 1rem;
}
/* HEADER  */
header{
    grid-area: header;
    /* width: 100px;  */
}
/* #header{color:red} */


/* NAVIGATION  */
nav{
    grid-area: nav;
    background-color: red;
}

/* MAIN SECTION  */
main{
    grid-area: main;

}

/* SIDEBAR  */
aside{
    grid-area: aside;
}

/* FOOTER  */

footer{
    grid-area: footer;
}
