.grid-container{
    display: grid;
    /* grid-template-columns: 1fr 3fr 1fr; */
    grid-template-columns: 3fr 1fr;
    /* grid-template-rows: 10vh 1fr 10vh; */
    grid-template-rows: 10vh 10vh 1fr 10vh;
    place-items:stretch stretch;
    /* grid-template-areas:
      "header header  header"
      "nav    main aside"
      "footer footer  footer";  */
      grid-template-areas:
      "header  header"
      "nav     nav"
      "main aside"
      "footer      footer";
}
.grid-container > *{
    background: #909090;
    margin: 1rem;
}
header{
    grid-area: header;
}
nav{
    grid-area: nav;
}
main{
    grid-area: main;
}
aside{
    grid-area: aside;
}

footer{
    grid-area: footer;
}
