section{
    height: 95vh; width:95%;
    margin: 2rem auto;
    display: flex; 
    justify-content: center; 
    align-items: center;
}
.text{
        opacity: 0;
        transform: translateY(-100px);

}
.anim .text{
    color:#ffd700; 
    animation: fadeIn 2s forwards;
}


@keyframes fadeIn{
    from{
        transform: translateY(-100px);
        opacity: 0;
    }
    to{
        transform: translateY(0px);
        opacity: 1;
    }
}