section{
    height: 95vh; width:95%;
    margin: 2rem auto;
    display: flex; 
    justify-content: center; 
    align-items: center;
    border: 3px solid red; 
}

/* ==========ANIMATION==========  */
svg {
    overflow: visible;
    width: 500px; 
}
svg > *{
    transition: all .5s ease;
}
/* set initial state as invisible  */
#clap #girl, #clap #boy, #clap #msg-left, #clap #msg-right{
    opacity: 0;
}

/* animate when section in intersecting  */
.anim #clap #girl{
    animation: slide-right 1s forwards;
}
.anim #clap #boy{
    animation: slide-left 1s forwards;
}
.anim #clap #msg-left{
    animation: slide-down-right 1s forwards;
}
.anim #clap #msg-right{
    animation: slide-down-left 1s forwards;
}


/* ==========KEYFRAMES==========  */

@keyframes slide-down-right{
    from{
        transform: translate(-50px, -100px);
        opacity: 0;
    }
    to{
        transform: translate(0px, 0px);
        opacity: 1;
    }
}

@keyframes slide-down-left{
    from{
        transform: translate(50px, -100px);
        opacity: 0;
    }
    to{
        transform: translate(0px, 0px);
        opacity: 1;
    }
}

@keyframes slide-left{
    from{
        transform: translateX(-100px);
        opacity: 0;
    }
    to{
        transform: translateX(0px);
        opacity: 1;
    }
}
@keyframes slide-right{
    from{
        transform: translateX(100px);
        opacity: 0;
    }
    to{
        transform: translateX(0px);
        opacity: 1;
    }
}